@using DiDongTrongToi.Models;
@model chi_tiet_PhuKien_CapSac
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Supplier/Views/Shared/Supplier.cshtml";
}

<div class="card" style="width:70%; margin-left:15%;">
    <h5 class="card-heard">
        Nhập Thông Tin Cho sản Phẩm Cáp Sạc
    </h5>
    <div class="card-body">
        <style>
            .khung {
                width: 60%;
                margin-bottom: 0.4em;
                margin-left: 20%;
            }

            .hhh {
                display: none;
            }
        </style>
        @using (Html.BeginForm("CapSac","AddProduct",FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.loai, new { @type = "number", @placeholder = "Lựa chọn sản phẩm phù hợp 1 là sạc không dây 2 là sạc có dây", @max = "2", @min = "1", @class = "khung" })
            @Html.TextBoxFor(model => model.doDaiDay, new { @type = "number", @placeholder = "Độ Dài Dây", @class = "khung" })
            @Html.TextBoxFor(model => model.chucNang, new { @type = "text", @placeholder = "Chức Năng", @class = "khung" })
            @Html.TextBoxFor(model => model.dauvao, new { @type = "text", @placeholder = "Đầu Vào", @class = "khung" })
            @Html.TextBoxFor(model => model.dauRa, new { @type = "text", @placeholder = "Đầu Ra", @class = "khung" })
            @Html.TextBoxFor(model => model.congNghe, new { @type = "text", @placeholder = "Công Nghệ", @class = "khung" })
            @Html.TextBoxFor(model => model.tienIch, new { @type = "text", @placeholder = "Tiện Ích", @class = "khung" })
            @Html.TextBoxFor(model => model.ThuongHieu, new { @type = "text", @placeholder = "Thương Hiệu", @class = "khung" })
            @Html.TextBoxFor(model => model.NguonGoc, new { @type = "text", @placeholder = "Nguồn Gốc", @class = "khung" })
            @Html.TextBoxFor(model => model.sanpham, new { @type = "number", @placeholder = "", @class = "khung hhh" })
            <button class="btn btn-success" style="width:100%; margin-bottom:12em;">Thêm Thông Tin</button>
        }
    </div>
</div>
